/* colors - day */
:root {
	--btn-b-default: var(--color-indigo-600);
	--btn-b-hover: var(--color-indigo-500);
	--btn-b-press: var(--color-indigo-600);
	--btn-b-ghost: var(--base-slate-a-200);
	--btn-b-outline: var(--base-slate-a-200);
	--bg-surf-0: var(--base-white-solid);
	--bg-surf-10: var(--base-greengrey-50);
	--bg-surf-20: var(--base-greengrey-100);
	--bg-surf-30: var(--base-greengrey-150);
	--bg-surf-40: var(--base-greengrey-200);
	--bg-surf-a-10: var(--base-greengrey-a-50);
	--bg-surf-a-20: var(--base-greengrey-a-100);
	--bg-surf-a-30: var(--base-greengrey-a-150);
	--bg-surf-a-40: var(--base-greengrey-a-200);
	--border-high: var(--base-greengrey-a-100);
	--border-mid-high: var(--base-greengrey-a-150);
	--border-mid: var(--base-greengrey-a-200);
	--border-low: var(--base-greengrey-a-300);
	--border-invert-high: var(--base-white-a-10);
	--border-invert-midhigh: var(--base-white-a-15);
	--border-invert-mid: var(--base-white-a-20);
	--border-invert-low: var(--base-white-a-30);
	--text-base-primary: var(--base-neutral-a-950);
	--text-base-secondary: var(--base-neutral-a-800);
	--text-base-tertiatry: var(--base-neutral-a-600);
	--text-base-ghost: var(--base-neutral-a-400);
	--text-base-muted: var(--base-neutral-a-200);
	--text-base-invert-primary: var(--base-white-solid);
	--text-base-invert-secondary: var(--base-white-a-80);
	--text-base-invert-tertiatry: var(--base-white-a-60);
	--text-base-invert-ghost: var(--base-white-a-40);
	--global-state-focus-default: var(--base-slate-900);
	--global-state-focus-default-invert: var(--base-slate-200);
	--global-state-focus-contrast: var(--accent-primary-mid);
	--global-state-focus-contrast-invert: var(--accent-secondary-high);
	--global-state-focus-danger: var(--danger-default);
	--global-state-focus-warning: var(--warning-default);
	--text-link-default: var(--accent-primary-low);
	--text-link-hover: var(--accent-primary-lower);
	--text-link-default-contrast: var(--accent-secondary-mid);
	--text-link-hover-contrast: var(--accent-secondary-low);
	--text-link-visited: var(--accent-secondary-lower);
	--text-link-visited-contrast: var(--accent-secondary-low);
	--button-accent-outline: var(--accent-secondary-low);
	--overlay-high: var(--base-neutral-a-400);
	--overlay-low: var(--base-neutral-a-600);
	--button-accent-surf-default: var(--accent-secondary-high);
	--button-accent-surf-hover: var(--accent-secondary-mid-high);
	--button-accent-surf-press: var(--accent-secondary-mid);
	--button-accent-text: var(--accent-secondary-lowest);
	--input-checkbox-bg-active-default: var(--accent-secondary-mid);
	--input-checkbox-bg-disabled: var(--bg-surf-a-30);
	--input-checkbox-bg-active-hover: var(--accent-secondary-low);
	--input-checkbox-border-default: var(--border-mid-high);
	--input-checkbox-border-hover: var(--border-mid);
	--input-checkbox-border-active-default: var(--accent-secondary-low);
	--input-checkbox-border-active-hover: var(--accent-secondary-lower);
	--input-radio-border-active-default: var(--accent-secondary-mid);
	--input-radio-bg-disabled: var(--bg-surf-a-20);
	--input-radio-border-active-hover: var(--accent-secondary-low);
	--input-radio-border-default: var(--border-mid-high);
	--input-radio-border-hover: var(--border-low);
	--input-radio-border-disabled: var(--bg-surf-a-10);
	--input-form-bg-default: var(--bg-surf-0);
	--input-form-bg-error: var(--color-rose-50);
	--input-form-bg-warning: var(--color-orange-50);
	--input-form-bg-disabled: var(--bg-surf-a-20);
	--input-form-border-default: var(--border-mid-high);
	--input-form-border-error: var(--danger-default);
	--input-form-border-warning: var(--warning-default);
	--input-form-border-hover: var(--border-low);
}